.contrast,
.contrast nav,
.contrast header,
.contrast footer,
.contrast section,
.contrast main {
    background: black !important;
    color: white !important;
}

.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4:not(.card-title),
.contrast h5,
.contrast h6,
.contrast p:not(.card-text),
.contrast span {
    color: white !important;
}

.contrast a:not(.ba-link):not(.btn-carousel) {
    color: rgb(61, 226, 157) !important;
}

.contrast .btn-carousel,
.contrast input[type="button"],
.contrast input[type="submit"] {
    background: rgb(61, 226, 157) !important;
    color: black !important;
    font-weight: bold;
}

.contrast a:hover,
.contrast button:hover,
.contrast button:focus,
.contrast input[type="button"]:hover,
.contrast input[type="submit"]:hover,
.contrast .fab:hover {
    outline: 5px auto -webkit-focus-ring-color !important;
}

.contrast .fab,
.contrast .fab i {
    background: rgb(61, 226, 157) !important;
    color: black !important;
}

.contrast .scrolled {
    box-shadow: 0 0 10px rgb(255, 255, 255, 0.75);
}

.contrast a::before {
    background-color: rgb(61, 226, 157);
}

/* Exceptions */

.contrast .mapa {
    background-image: linear-gradient(
        -90deg,
        rgb(61, 226, 157),
        rgb(61, 226, 157)
    ) !important;
}
