/* 61 226 157 verde */
/* 41 38 140 roxo*/
* {
    scroll-behavior: smooth;
}

body {
    font-family: Century Gothic, "Century Gothic", Helvetica, "Helvetica", Arial,
        sans-serif !important;
}

.sombra {
    box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.75);
}

.sombraTexto {
    text-shadow: -10px 10px 30px rgba(2, 11, 22, 0.5);
}

.verde {
    color: rgb(61, 226, 157);
}

.azul {
    color: rgba(0, 132, 191, 1);
}

.bg-verde {
    background: linear-gradient(
        90deg,
        rgba(28, 134, 164, 1) 0%,
        rgba(0, 219, 134, 1) 100%
    );
}
.bg-azul {
    background: linear-gradient(
        90deg,
        rgba(0, 58, 107, 1) 0%,
        rgba(0, 132, 191, 1) 100%
    );
}

.branco {
    color: #fff;
}

/*   Index.html INICIO    */

.scrollBar {
    background: #000;
}

.logoTexto {
    width: 70%;
}

.bg-outline-verde {
    background: rgb(61, 226, 157);
}

.bg-outline-azul {
    background: rgba(0, 132, 191, 1);
}

.largeFont {
    font-size: 3rem !important;
}

.smallFont {
    font-size: 2em !important;
}

.divSeletor {
    margin-left: 1em;
}

.divSeletor button {
    height: 3em;
    margin-top: -0.5em;
}

.quemSomosTitulo {
    text-align: left;
}

.quemSomosTexto {
    text-align: justify;
}

.comoFuncionaTitulo {
    text-align: right;
}

.comoFuncionaTexto {
    text-align: justify;
}

.img_paralax {
    width: 100% !important;
    height: 20rem;
    position: relative;
    left: 0;
    right: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-1 {
    background-image: url(../img/idosa.png);
}
.bg-2 {
    background-image: url(../img/maybe.jpg);
    background-position: right !important;
}
.bg-3 {
    background-image: url(../img/mulher.png);
}
.bg-4 {
    background-image: url(../img/maos.jpg);
}

.navBar {
    position: fixed !important;
    top: 0;
    width: 100% !important;
    transition: background 1s ease 1s;
    background: rgba(0, 121, 191, 0);
    z-index: 5;
    transition: 0.4s;
}

i {
    color: rgb(231, 231, 231);
}

.div-nav {
    justify-content: flex-end;
}

.ul-editavel {
    font-size: 1.4em;
}

.ul-editavel a {
    margin-left: 1rem;
    position: relative;
}

.ul-editavel a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(61, 226, 157);
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.ul-editavel a:hover:before {
    visibility: visible;
    height: 3px;
}

select {
    font-size: 1.5625rem !important;
}

.form-inline {
    width: fit-content !important;
    flex-flow: unset !important;
    margin-left: 0 !important;
}

.scrolled {
    background: linear-gradient(
        90deg,
        rgba(0, 58, 107, 1) 0%,
        rgba(0, 132, 191, 1) 100%
    );
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}
.navbar-toggler {
    border: none !important;
}
.navbar-toggler:focus {
    border: none !important;
}
.navbar-toggler i {
    font-size: 7vmin !important;
}

.fab,
.fab i {
    color: rgba(0, 132, 191, 1);
    background: white;
    align-items: center;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    min-width: 32px;
    min-height: 32px;
    height: 64px;
    width: 64px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    position: fixed;
    cursor: pointer;
    z-index: 10;
}

@media (max-width: 700px) {
    .logoTexto {
        width: 80vw;
    }
    .largeFont {
        font-size: 1.875rem !important;
    }

    .smallFont {
        font-size: 1.275rem !important;
    }

    .btn-primary {
        font-size: 1rem !important;
    }
    select {
        font-size: 1rem !important;
    }
}

#footer {
    color: white;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 1.125em !important;
}

#footer a {
    color: white;
}

.imgAparece {
    transition: opacity 0.3s linear;
    opacity: 0;
    height: 15vmin;
    width: 47vmin;
}
.Qscrolled {
    background: linear-gradient(
        90deg,
        rgba(0, 58, 107, 1) 0%,
        rgba(0, 132, 191, 1) 100%
    );
}

.btn-find {
    color: white !important;
    font-size: 1.5625rem !important;
    background: linear-gradient(
        90deg,
        rgb(0, 100, 146),
        rgb(61, 226, 157) 50%,
        rgb(0, 100, 146)
    );
    background-size: 200%;
    transition: background-position 0.4s ease !important;
}

.btn-find:hover {
    background-position: 100% 0;
}

.btn-find:active,
.btn-find:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
