.pfp {
    background-color: rgb(0, 100, 146);
    color: white;
    font-size: 5rem;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    text-align: center;
    display: table-cell !important;
    overflow: hidden;
    vertical-align: middle;
}

.pfp-name {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 2rem;
    padding-top: 1rem;
}

.static-half {
    border-right: 3px solid rgb(0, 100, 146);
}

.nav-options {
    display: flex;
}

.nav-wrapper {
    border-bottom: 2px solid rgb(0, 100, 146);
    width: 100%;
}

.nav-wrapper a {
    font-size: 1.2rem;
    color: black !important;
    padding: 0 14px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px 0 rgb(0, 100, 146, 0.01);
    transition: box-shadow 0.4s cubic-bezier(0.91, 0.92, 0.24, 1.15);
}

.nav-wrapper a.active {
    box-shadow: 0 4px 0 rgb(0, 100, 146);
    font-weight: bold;
    color: #495057 !important;
}

.nav-wrapper a:hover:not(.active) {
    box-shadow: 0 4px 0 rgb(0, 100, 146);
}

.pfp-coins {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1.5rem;
    padding-top: 1.3rem;
}

.pfp-coins i {
    padding-right: 0.3rem;
    color: goldenrod;
    font-size: 1.6rem;
}

.grid-profile {
    padding: 1rem 0 0.5rem 0;
}

.grid-label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #495057;
}

.form-control:not(.is-invalid):not(.is-valid) {
    border-color: rgb(0, 132, 191);
}
.form-control:focus,
.form-control:active {
    outline: 0 !important;
    border-color: rgb(61, 226, 157) !important;
    box-shadow: 0 0 0.6em 0.09rem rgb(61, 226, 157) !important;
}
.form-control {
    transition: box-shadow 0.4s !important;
    color: #495057 !important;
    background: transparent !important;
    font-size: 1rem !important;
    outline: none !important;
    border-width: 2px !important;
    border-radius: 0 !important;
    margin-bottom: 1rem !important;
}

.grid-button {
    font-size: 1.2rem;
}

.btn-gradient-caution {
    color: white !important;
    background: linear-gradient(
        90deg,
        rgb(212, 52, 52),
        rgb(246, 126, 126) 50%,
        rgb(212, 52, 52)
    );
    background-size: 200%;
    transition: background-position 0.4s ease !important;
}

.btn-gradient-caution:hover {
    background-position: 100% 0;
}

.btn-gradient-caution:focus {
    box-shadow: none !important;
}

.static-header {
    display: flex;
    justify-content: space-between;
}

.order-number {
    font-size: 1.2rem;
    font-weight: bold;
    color: #495057 !important;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    background: rgb(1, 112, 164);
    color: white;
}

.order {
    border: 3px solid rgb(1, 112, 164);
}

.order-header {
    display: flex;
    flex-direction: column;
}

.verification-code {
    font-size: 1.15rem;
}

.verification-span {
    font-weight: bold;
}

.body-wrapper {
    display: flex;
    justify-content: space-between;
}

.queue-place {
    font-size: 1.15rem;
    font-weight: bold;
}

.place-number {
    font-weight: bold;
}

.product {
    display: flex;
}

.product-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.waiting-warning {
    font-weight: bold;
    font-size: 1.15rem;
}

.cancel-order .btn {
    font-size: 1.2rem;
    border: 3px solid rgb(212, 52, 52);
    color: rgb(212, 52, 52);
    transition: all 0.36s ease;
}

.cancel-order .btn:hover {
    background-color: rgb(212, 52, 52);
    color: white;
}
.cancel-order .btn:focus {
    box-shadow: none !important;
}
