* {
    scroll-behavior: smooth;
}

html {
    background-image: url("../img/logoImg2BG.png");
    background-size: 20vmin;
    background-blend-mode: luminosity;
    height: 100%;
}

body {
    background: none !important;
    color: rgb(0, 132, 191) !important;
    font-family: Century Gothic, "Century Gothic", Helvetica, "Helvetica", Arial,
        sans-serif !important;
}

.esqueceu {
    margin-top: 0.4rem;
}

.links {
    margin-top: 1rem;
}

.card {
    height: 550px;
    margin-top: 40px;
    margin-bottom: 120px;
    width: 500px;
    color: rgb(0, 132, 191);
    border: none !important;
    background: white !important;
}

.container {
    height: 100%;
    align-content: center;
}

.col-lg {
    background: white;
    box-shadow: 0 0 20px 5px rgba(61, 226, 157, 0.5);
}

input {
    transition: box-shadow 0.4s !important;
    color: #495057 !important;
    background: transparent !important;
    font-size: 1.275em !important;
    border: 2px solid rgb(0, 132, 191) !important;
    border-radius: 0 !important;
    margin-bottom: 1rem !important;
}

.form {
    margin-top: 1.4em !important;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7) !important;
}

input:focus,
input:active {
    border-color: rgb(61, 226, 157) !important;
    box-shadow: 0 0 0.6em 0.09rem rgb(61, 226, 157) !important;
}

.h1 {
    margin-top: 0.8rem !important;
}

label {
    margin-bottom: 0.6rem !important;
    font-size: 1.475rem !important;
}

.imgTopo {
    align-items: center !important;
    height: auto;
    max-height: 500px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center !important;
}

a {
    color: rgb(61, 226, 157);
}

a:hover {
    color: rgb(61, 226, 157);
}

.margens {
    margin-top: -20px;
    padding: 20px 30px !important;
}

button {
    color: white;
    background: linear-gradient(
        90deg,
        rgb(0, 100, 146),
        rgb(61, 226, 157) 50%,
        rgb(0, 100, 146)
    );
    background-size: 200%;
    border: 0 !important;
    border-radius: 0 !important;
    transition: background-position 0.4s ease !important;
    font-size: 1.4rem !important;
}

.links {
    font-size: 1.4rem;
}

.fraseInicio {
    font-size: 1.2rem;
}

.h1 {
    font-size: 2.2rem;
}

@media screen and (max-device-width: 700px) {
    .card {
        width: 100% !important;
        border-radius: 0 !important;
        height: 100vh !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .col-lg {
        box-shadow: none;
    }

    .h1 {
        margin-top: 5rem !important;
        font-size: 5rem;
    }

    input {
        font-size: 3em !important;
        height: 2em !important;
        border-width: 4px !important;
    }

    .imgTopo {
        height: auto;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 4rem;
    }

    .fraseInicio {
        margin-top: 3rem !important;
        font-size: 2.5em;
    }

    label {
        margin-top: 3rem !important;
        font-size: 3.875rem !important;
    }

    button {
        font-size: 4rem !important;
    }

    .links {
        margin-bottom: none !important;
        margin-top: 3rem !important;
        font-size: 2.8rem !important;
    }

    .esqueceu {
        font-size: 2.8rem !important;
        margin-bottom: 3rem !important;
    }

    .container,
    body,
    html {
        margin: 0 !important;
        padding: 0 !important;
    }

    .h-100 {
        width: 100vw !important;
    }
}

button:active,
button:focus {
    box-shadow: none !important;
    background: linear-gradient(
        90deg,
        rgb(0, 100, 146),
        rgb(61, 226, 157) 50%,
        rgb(0, 100, 146)
    );
    border: 0 !important;
}

button:hover {
    background-position: 100%;
}
