* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Century Gothic, "Century Gothic", Helvetica, "Helvetica", Arial,
        sans-serif !important;
    background-color: #efefef;
}

section {
    background-color: white;
    padding: 3rem 3rem 0 3rem !important;
    border-radius: 0.5rem;
}

.contrast section {
    background-color: black !important;
}

.contrast body {
    background-color: rgb(24, 26, 26) !important;
}

.bold {
    font-weight: bold;
}

/* NAVBAR */

.navbar {
    background: rgb(0, 100, 146) !important;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.logo {
    height: 70px;
}

.btn-search {
    background-color: rgb(61, 226, 157);
    border: 3px solid rgb(61, 226, 157);
    border-left: none;
    color: white;
    transition: all 0.2s ease-out;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0.53rem 0.7rem;
    font-size: 16px !important;
}

.btn-search:hover {
    color: rgb(61, 226, 157);
    background: transparent;
}

.search-input {
    background-color: white;
    color: rgb(17, 17, 17);
    border: none;
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.2rem !important;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    width: 100%;
    transition: all 0.4s ease;
}

.search-input:focus,
.search-input:active {
    box-shadow: 0 0 0.7em 0.1rem rgba(61, 226, 157) !important;
    outline: none;
}

.login {
    display: flex;
    align-items: center;
    justify-items: center;
}

.navbar-collapse {
    display: inline-flex;
}

.login .icon {
    padding: 0 0.5rem 0 0;
}

.login .icon i {
    color: white;
    font-size: 2rem !important;
}

.login span {
    width: max-content;
    font-size: 1.2rem;
}

.navbar-light a {
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}

.navbar-light a:hover {
    color: white;
}

/* NAVBAR */

/* CAROUSEL */

.carousel {
    display: flex;
    justify-content: space-evenly;
    border-radius: 0 !important;
}

.carousel .card {
    border: none;
}

.carousel .card-body {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.carousel .card-img-top {
    padding-top: 10px;
    padding: 10px 10px;
}

.carousel .btn-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    font-size: 1.4rem;
    text-decoration: none;
}

.carousel .card-title {
    font-weight: bold;
}

#map {
    z-index: 10;
    height: 500px;
    width: 100%;
}

.mapa {
    background: rgb(0, 100, 146);
    background-image: linear-gradient(
        -90deg,
        rgb(61, 226, 157),
        rgb(0, 100, 146)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    width: fit-content;
    margin: auto;
}

.barra-acessibilidade {
    position: relative !important;
}

#footer {
    color: white;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 1.125em;
    background: rgb(0, 100, 146);
}

#footer p {
    line-height: 2em;
}

#footer a {
    color: white;
}

.contrast .card {
    /* border: 3px solid; */
    background: transparent !important;
}

.btn-gradient {
    color: white !important;
    background: linear-gradient(
        90deg,
        rgb(0, 132, 191),
        rgb(61, 226, 157) 50%,
        rgb(0, 132, 191)
    );
    background-size: 200%;
    transition: background-position 0.4s ease !important;
}

.btn-gradient:hover {
    background-position: 100% 0;
}

.btn-gradient:focus {
    box-shadow: none !important;
}

/*  */

.produto-wrapper {
    flex-wrap: wrap;
}

.img-thubmail {
    margin: 0 auto !important;
}

.selected-wrapper {
    font-size: 2rem;
    font-weight: bold;
}

.blue-font {
    color: rgb(1, 112, 164);
}

.contrast .blue-font {
    color: yellow;
}

.more-wrapper {
    margin-top: 4rem !important;
}

/*  */

.navbar-toggler {
    border: none !important;
}

.navbar-toggler i {
    font-size: 7.5vmin;
    color: rgb(61, 226, 157);
}

.navbar-brand {
    margin-right: 0 !important;
}

.faq-fab {
    position: fixed;
    right: 0;
    top: 80%;
    z-index: 99;
}

.faq-fab button {
    color: white;
    font-weight: bold;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding: 0.7rem;
}

.custom-select {
    border-width: 3px;
    border-color: rgb(61, 226, 157);
    height: 3rem;
    width: unset;
    transition: all 0.4s ease;
}

.custom-select:focus,
.custom-select:active {
    box-shadow: 0 0 0.7em 0.1rem rgba(61, 226, 157) !important;
    outline: none;
    border-color: rgb(61, 226, 157);
}

.search-wrapper {
    justify-content: space-between;
}

.login {
    font-size: 1.4rem;
    background: rgb(61 226 158);
    padding: 1rem 1.4rem;
    border-radius: 2rem;
    font-weight: bold;
}

text,
strong {
    color: #212529 !important;
}
#map
    > div
    > div
    > div:nth-child(1)
    > div:nth-child(3)
    > div
    > div:nth-child(4)
    > div
    > div
    > div
    > div
    > button {
    border-bottom-left-radius: 0.5rem;
}

@media (max-width: 500px) {
    .faq-fab button {
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    .logo {
        height: 48px;
    }
}
