.hidden {
    display: none;
}

.form-control:not(.is-invalid):not(.is-valid) {
    border-color: rgb(0, 132, 191);
}
.form-control:focus,
.form-control:active {
    outline: 0 !important;
    border-color: rgb(61, 226, 157) !important;
    box-shadow: 0 0 0.6em 0.09rem rgb(61, 226, 157) !important;
}
.form-control {
    transition: box-shadow 0.4s !important;
    color: #495057 !important;
    background: transparent !important;
    font-size: 1rem !important;
    outline: none !important;
    border-width: 2px !important;
    border-radius: 0 !important;
    margin-bottom: 1rem !important;
}

.btn-gradient-caution {
    color: white !important;
    background: linear-gradient(
        90deg,
        rgb(212, 52, 52),
        rgb(246, 126, 126) 50%,
        rgb(212, 52, 52)
    );
    background-size: 200%;
    transition: background-position 0.4s ease !important;
}

.btn-gradient-caution:hover {
    background-position: 100% 0;
}

.btn-gradient-caution:focus {
    box-shadow: none !important;
}

.name-wrapper {
    color: rgb(136, 136, 136);
    font-size: 1.4rem;
}

.name-span {
    font-size: 1.6rem;
}

.profile-wrapper {
    border: 2px solid lightgray;
    border-radius: 0.3rem;
}

.profile-nav {
    border-bottom: 2px solid lightgray;
}

.nav-wrapper {
    display: flex;
    align-content: center;
}

.nav-wrapper a {
    text-align: center;
    flex-grow: 1;
    color: rgb(78, 78, 78);
    font-size: 1.3rem;
    text-decoration: none;
    padding: 2rem 1.2rem;
    font-weight: bold;
}

.nav-wrapper a:hover {
    background: rgb(226, 226, 226);
}

.nav-wrapper a.active {
    background: rgb(226, 226, 226);
    box-shadow: 0px 3px 0px 0px rgb(0, 132, 191);
    color: black;
}

.nav-wrapper i {
    padding-right: 0.3rem;
}

.nav-wrapper a.active i {
    color: rgb(0, 132, 191);
}

.profile-body {
    padding: 2rem;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 50%;
    }
}
