.hidden {
    display: none;
}

.form-control:not(.is-invalid):not(.is-valid) {
    border-color: rgb(0, 132, 191);
}
.form-control:focus,
.form-control:active {
    outline: 0 !important;
    border-color: rgb(61, 226, 157) !important;
    box-shadow: 0 0 0.6em 0.09rem rgb(61, 226, 157) !important;
}
.form-control {
    transition: box-shadow 0.4s !important;
    color: #495057 !important;
    background: transparent !important;
    font-size: 1rem !important;
    outline: none !important;
    border-width: 2px !important;
    border-radius: 0 !important;
    margin-bottom: 1rem !important;
}

.btn-gradient-caution {
    color: white !important;
    background: linear-gradient(
        90deg,
        rgb(212, 52, 52),
        rgb(246, 126, 126) 50%,
        rgb(212, 52, 52)
    );
    background-size: 200%;
    transition: background-position 0.4s ease !important;
}

.btn-gradient-caution:hover {
    background-position: 100% 0;
}

.btn-gradient-caution:focus {
    box-shadow: none !important;
}

.name-wrapper {
    color: rgb(136, 136, 136);
    font-size: 1.4rem;
}

.name-span {
    font-size: 1.6rem;
}

.profile-wrapper {
    border: 2px solid lightgray;
    border-radius: 0.3rem;
}

.profile-nav {
    border-bottom: 2px solid lightgray;
}

.nav-wrapper {
    display: flex;
    align-content: center;
}

.nav-wrapper a {
    text-align: center;
    flex-grow: 1;
    color: rgb(78, 78, 78);
    font-size: 1.3rem;
    text-decoration: none;
    padding: 2rem 1.2rem;
    font-weight: bold;
}

.nav-wrapper a:hover {
    background: rgb(226, 226, 226);
}

.contrast .nav-wrapper a:hover {
    color: black !important;
}

.nav-wrapper a.active {
    background: rgb(226, 226, 226);
    box-shadow: 0px 3px 0px 0px rgb(0, 132, 191);
    color: black !important;
}

.contrast .nav-wrapper a.active {
    box-shadow: none;
    background: black;
    outline: 5px auto yellow !important;
    color: yellow !important;
}

.contrast .nav-wrapper a.active:hover {
    outline: 5px auto yellow !important;
}

.nav-wrapper i {
    padding-right: 0.3rem;
}

.nav-wrapper a.active i {
    color: rgb(0, 132, 191);
}

.contrast .nav-wrapper a.active i {
    color: yellow !important;
}

.profile-body {
    padding: 2rem;
}

.form-group label {
    font-size: 1.2rem;
}

.btn-profile {
    display: flex;
    justify-content: center;
}

.btn-profile button {
    font-size: 1.4rem;
}

.logoff button {
    border: none;
    background: none;
}
.logoff i {
    color: rgb(212, 52, 52);
    font-size: 1.6rem;
}

.logoff button:focus {
    outline: none;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 50%;
    }
}

/* test */

.grid-profile {
    padding: 1rem 0 0.5rem 0;
}

.grid-label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #495057;
}

.grid-button {
    font-size: 1.2rem;
}

.static-header {
    display: flex;
    justify-content: space-between;
}

.custom-select {
    border-width: 2px;
    border-color: rgb(1, 112, 164);
}

.custom-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(61, 226, 157, 0.45);
    border-color: rgb(61, 226, 157);
}

.custom-select:active {
    border-color: rgb(61, 226, 157);
    box-shadow: none !important;
}

.order-number {
    font-size: 1.2rem;
    font-weight: bold;
    color: #495057 !important;
}

.contrast .order-number,
.contrast .name-wrapper {
    color: white !important;
}

.contrast select {
    color: black;
    font-weight: bold;
    border: 3px solid yellow;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    background: rgb(1, 112, 164);
    color: white;
}

.order {
    border: 3px solid rgb(1, 112, 164);
}

.order-header {
    display: flex;
    flex-direction: column;
}

.verification-code {
    font-size: 1.15rem;
}

.verification-span {
    font-weight: bold;
}

.body-wrapper {
    display: flex;
    justify-content: space-between;
}

.queue-place {
    font-size: 1.15rem;
    font-weight: bold;
}

.place-number {
    font-weight: bold;
}

.product {
    display: flex;
}

.product-info {
    margin-left: 1rem;
}

.product-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.waiting-warning {
    font-weight: bold;
    font-size: 1.15rem;
}

.received-warning {
    font-size: 1.2rem;
}

.received-date {
    font-weight: bold;
}

.received-place {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(61, 226, 157);
}

.cancelled-warning {
    font-size: 1.2rem;
}

.cancelled-date {
    font-weight: bold;
}

.cancelled-place {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(212, 52, 52);
}

.cancel-order .btn {
    font-size: 1.2rem;
    border: 3px solid rgb(212, 52, 52);
    color: rgb(212, 52, 52);
    transition: all 0.36s ease;
}

.contrast .cancel-order .btn,
.contrast .cancel-order i {
    border-color: rgb(212, 52, 52) !important;
    background: rgb(212, 52, 52) !important;
    color: white !important;
}

.cancel-order .btn:hover {
    background-color: rgb(212, 52, 52);
    color: white;
}
.cancel-order .btn:focus {
    box-shadow: none !important;
}

.save-order .btn {
    font-weight: bold;
    font-size: 1.2rem;
    border: 3px solid rgb(61, 226, 157);
    color: rgb(61, 226, 157);
    transition: all 0.36s ease;
}

.contrast .save-order .btn,
.contrast .save-order i {
    border-color: rgb(61, 226, 157) !important;
    background: rgb(61, 226, 157) !important;
    color: white !important;
}

.save-order .btn:hover {
    background-color: rgb(61, 226, 157);
    color: white;
}
.save-order .btn:focus {
    box-shadow: none !important;
}

.order.cancelled {
    border-color: rgb(212, 52, 52);
}

.order.cancelled .header-wrapper {
    background-color: rgb(212, 52, 52);
}

.order.received {
    border-color: rgb(61, 226, 157);
}

.order.received .header-wrapper {
    background-color: rgb(61, 226, 157);
}

.checkbox-out label {
    font-size: 1.4rem;
}
