.mt-10 {
    margin-top: 10rem !important;
}

.question-container {
    overflow-y: hidden;
}

.question-box {
    background: linear-gradient(
        90deg,
        rgba(28, 134, 164, 1) 0%,
        rgba(0, 219, 134, 1) 100%
    );
    border-radius: 0.7rem;
    transition: 0.5s all ease;
    max-height: 5rem;
    padding: 1.8rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    cursor: pointer;
}

.question {
    flex-grow: 8;
    padding-left: 1rem;
    font-size: 1.45rem;
    user-select: none;
    width: 70%;
}

.expand-button {
    cursor: pointer;
    flex-grow: 0.5;
    font-size: 2rem;
    transition: all 0.4s ease;
}

.icon-question {
    height: 0.5rem;
    width: 2rem;
    display: flex;
    align-items: center;
}

.icon-question img {
    width: 100%;
    filter: invert(1);
}

.expand-button.active {
    transform: rotateX(180deg);
}

.bigger-text {
    flex-grow: 11;
}

.contrast .question-box {
    background: black !important;
    border: 2px solid yellow;
}

@media (max-width: 1000px) {
    .question-box {
        padding: 1.6rem;
        max-height: 6rem;
    }
    .question {
        font-size: 1.2rem;
    }
}

@media (max-width: 500px) {
    .question-box {
        padding: 1rem;
    }
    .question {
        font-size: 0.8rem;
    }
    .expand-button {
        font-size: 1.8rem;
    }
    .question-box {
        max-height: 4.9rem;
    }
    .bigger-text {
        font-size: 0.8rem;
    }
    .icon-question {
        width: 1.8rem;
    }
}
@media (max-width: 370px) {
    .question {
        font-size: 0.7rem;
    }
    .bigger-text {
        font-size: 0.7rem;
    }
    .icon-question {
        width: 1.6rem;
    }
}
@media (max-width: 320px) {
    .question {
        font-size: 0.6rem;
    }
    .bigger-text {
        font-size: 0.5rem;
    }
    .expand-button {
        font-size: 1.4rem;
    }
    .question-box {
        max-height: 4.2rem;
    }
    .icon-question {
        width: 1.4rem;
    }
}
